<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Snippet sniffer test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="PROVIDER_NAME" value="google"/>
        <server name="PROVIDER_CX" value=""/>
        <server name="PROVIDER_KEY" value=""/>
        <server name="APP_ENV" value="testing"/>
        <server name="CRAWLER_URI" value=""/>
        <server name="DEFAULT_SCRAPER_URI" value=""/>
        <server name="STACKOVERFLOW_SCRAPER_URI" value=""/>
    </php>
</phpunit>
